header {
  height: 5em;
  width: 100%;
  background-color: #3e095e;
  color: white; }

fieldset.scheduler-border {
  border: 2px solid brown !important;
  width: inherit;
  padding: 30px 60px;
  border-bottom: none;
  margin: 50px 0px; }
  fieldset.scheduler-border legend.scheduler-border {
    width: auto !important;
    border: none; }

.ip h2 {
  padding: 20px 40px;
  margin: 10px 20px; }
.op h2 {
  padding: 20px 40px;
  margin: 10px 20px; }
